
body{
    background-color: rgba(127, 235, 247, 0.979);
    margin: 0;
}
nav{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:fixed;
    top:0px;
}
footer{
    background-color: black;
    color:beige;
    height: 10vh;
    text-align: center;
    font-size: 3vw;
}
a:hover{
    color:aquamarine;
    font-size: 3vw;
}
ol {
    background: rgb(199, 8, 252);
    padding: 30px;
    width: 30%;
}  
ol li {
    background: #edb0fa;
    padding: 5px;
    margin-left: 35px;
 }
 #topics{
   display: flex;
   justify-content: center;
   font-size: 2.5vw;
   font-family: 'Balsamiq Sans', cursive;
 }
#quotes{
    background-color: black;
    color:rgb(240, 245, 217);
    height: 10vh;
    text-align: center;
    font-size:3vw;
    margin: 2vw;
}
#home-hero{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vw;
    background-image: url('https://cdn.pixabay.com/photo/2015/07/02/10/13/sky-828648_960_720.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    color:aliceblue;
}
iframe{
    width: 70%;
    height: 40vw;
}
#home-hero p{
    font-size: 3.5vw;
}
#home-hero h1{
    font-size: 4vw;
}
#video{
    margin: 2vw;
    display:flex;
    align-items: center;
    justify-content: center;
}
#prophets{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#photo{
    width: 50%;
}
.text-nav{
    color: white;
    text-decoration: none;
    font-size: 2vw;
    margin-right:20px;
    margin-left:20px;
    font-family: 'Tourney', cursive;
}
.quo{
    background-color: rgba(210, 230, 248, 0.584);
    font-size: 1vw;
    text-align: center;
    justify-content: center;
    padding: 30px;
    margin: 30px;
}
.link{
    text-decoration: none;
    color:black;
}
.link:hover{
    color:rgb(246, 245, 248);
    background-color: rgb(150, 1, 250);
}
.social{
    width:3vw;
}
.text-nav img{
    width: 4vw;
    height: auto;
}
.pro img{
    width: 15vw;
    margin: 1vw;
}
.pro{
    background-color:black;
    width: 30vw;
    text-align: center;
    color:blanchedalmond;
    font-size: 2vw;
    font-family: 'Balsamiq Sans', cursive;
}
.family{
    width: 35vw;
}
.fav{
    text-align: center;
    font-size: 3vw;
    font-family: 'Balsamiq Sans', cursive;
}
@media screen and (max-width: 600px) {
    body{
        background-color: #aff3dea8;
    }
    footer{
        height: 5vh;
        font-size: 4vw;
    }
    iframe{
        width: 90%;
        height: 40vh;
    }
    #home-hero p{
        font-size: 4vw;
    }
    #home-hero h1{
        font-size: 6vw;
    }
    #video{
        margin: 4vw;
    }
    #prophets{
        flex-direction: column;
        justify-content: center;
    }
    .pro{
        width:90%;
        margin: 4vw;
        font-size: 5vw;
    }
    .pro img{
        width: 35vw;
        margin-bottom: 4vw;
    }
    .text-nav{
        color:aqua;
        font-size: 2.5vw;
    }
}